@{
    ViewData["Title"] = "Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Skateboard.Models.Board>

@Html.ActionLink("Create new", "Create")
<hr />

@*@if (Model.Any())
{
    <ul>
        @foreach (var board in Model)
        {
            <li> <img src="@Html.DisplayFor(modelItem => board.Img)" />
                @Html.ActionLink(".", "Details", new { id = board.Id })
            </li>
        }
    </ul>
}
else
{
    <p>No tasks have been added yet!</p>
}*@




<div class="gallery cf">
    @foreach (var board in Model)
    {
    <div>
        <img src="@Html.DisplayFor(modelItem => board.Img)" />
    </div>
    }
</div>